/*CODE ATTRIBUTION*/
/*TITLE: IIE WEDE5020 Module Manual 2025*/
/*AUTHOR: The Independent Institute of Education (Pty) Ltd*/
/*DATE: 07/03/2025*/
/*VERSION: 1.0*/
/*AVAILABLE: https://advtechonline.sharepoint.com/:w:/r/sites/TertiaryStudents/_layouts/15/Doc.aspx?sourcedoc=%7B2D7589E9-374B-43DE-9596-EF35D83EBD02%7D&file=WEDE5020MM.docx&action=default&mobileredirect=true*/

/*CODE ATTRIBUTION*/
/*TITLE: movieWeb*/
/*AUTHOR: afsaana03*/
/*DATE: 26/09/2025*/
/*VERSION: 1.7*/
/*AVAILABLE: https://github.com/afsaana03/movieWeb


/*Navigation bar styling*/
.nav {
    list-style-type: none; /*removes bullet points*/
    margin: 0;
    padding: 0;
    background: #ffffff; /*sets background to white*/
    overflow: hidden;
    border-bottom: 0.0625rem solid #595959; /*underlines the section*/
    display: flex; /*flex allows menu alignment to be controlled*/
    flex-wrap: wrap; /*pushes menu to new line on smaller screens*/
    align-items: center; /*puts menu items in the center of the bar*/
    justify-content: center; /*adds space between menu items*/
}

ul.nav li a {
    color: #3c4f12; /*text colour*/
    text-decoration: none;  /* Removes the underline from the links */
    display: flex; /*flex allows menu alignment to be controlled*/
    padding: 0.875rem 1.25rem; /*Adds spacing around the link for a box*/
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /*block transition when you hover over different menu items*/
}

ul.nav li a:hover {
    background-color: #f3f6eb; /*box changes colour when you hover over menu item*/
    color: #3c4f12; /*text colour*/
    border-radius: 0.5rem; /*rounds corners on hover box*/
}

body { 
    font-family: Georgia, serif; /*sets the website font*/
    background-color: #fff0f0; /*sets the backround colour*/
    margin: 0%;
    padding: 0%;
    color: #595959; /*text colour*/
}

h1, h2, h3, h4, h5, h6, p {
    text-align: left; /*sets all text to the left of the screen*/
    margin: 0%;
    padding-left: 2rem; /*adds spacing between text and the edge of the screen*/
}


header, .containerGreen, .containerPink, .container, footer {
    border-bottom: 0.0625rem solid #595959; /*underlines the section*/
    font-size: 1.5vw; /*allows heading size to adapt depending on the screen size*/
    margin: 0%;
    box-sizing: border-box;
}

header {
    background-color: #f0cbc3; /*sets the backround colour*/
}

.containerGreen {
    background-color: #f3f6eb; /*sets the backround colour*/
}

.header-img {
    width: 100%; /*sets the image size to match the screen size*/
    height: auto;
    border-bottom: 0.0625rem solid #595959; /*underlines the section*/
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column; /*makes menu items stack vertically on small screens*/
         align-items: center; /*puts menu items in the center of the bar*/
    }
}