/*CODE ATTRIBUTION*/
/*TITLE: IIE WEDE5020 Module Manual 2025*/
/*AUTHOR: The Independent Institute of Education (Pty) Ltd*/
/*DATE: 07/03/2025*/
/*VERSION: 1.0*/
/*AVAILABLE: https://advtechonline.sharepoint.com/:w:/r/sites/TertiaryStudents/_layouts/15/Doc.aspx?sourcedoc=%7B2D7589E9-374B-43DE-9596-EF35D83EBD02%7D&file=WEDE5020MM.docx&action=default&mobileredirect=true*/

/*CODE ATTRIBUTION*/
/*TITLE: movieWeb*/
/*AUTHOR: afsaana03*/
/*DATE: 26/09/2025*/
/*VERSION: 1.7*/
/*AVAILABLE: https://github.com/afsaana03/movieWeb*/

/*CODE ATTRIBUTION*/
/*TITLE: CSS Styling Buttons*/
/*AUTHOR: W3 schools*/
/*DATE: 29/09/2025*/
/*VERSION: 1.0*/
/*AVAILABLE: https://www.w3schools.com/css/css3_buttons.asp*/

/*Navigation bar styling*/
.nav {
    list-style-type: none; /*removes bullet points*/
    margin: 0; /*resets margins*/
    padding: 0; /*reses padding*/
    background: #ffffff; /*sets background to white*/
    overflow: hidden;
    border-bottom: 0.0625rem solid #595959; /*underlines the section*/
    display: flex; /*flex allows menu alignment to be controlled*/
    flex-wrap: wrap; /*pushes menu to new line on smaller screens*/
    align-items: center; /*puts menu items in the center of the bar*/
    justify-content: center; /*adds space between menu items*/
}

ul.nav li a {
    color: #3c4f12; /*text colour*/
    text-decoration: none;  /* Removes the underline from the links */
    display: flex; /*flex allows menu alignment to be controlled*/
    padding: 0.875rem 1.25rem; /*Adds spacing around the link for a box*/
    font-weight: bold; /*makes font bold*/
    transition: background-color 0.3s, color 0.3s; /*block transition when you hover over different menu items*/
}

ul.nav li a:hover {
    background-color: #f3f6eb; /*box changes colour when you hover over menu item*/
    color: #3c4f12; /*text colour*/
    border-radius: 0.5rem; /*rounds corners on hover box*/
}


/*general typography styling*/
body { 
    font-family: Georgia, serif; /*sets the website font*/
    background-color: #fff0f0; /*sets the backround colour*/
    margin: 0%; /*resets margins*/
    padding: 0%; /*resets padding*/
    color: #595959; /*text colour*/
}

h1, h2, h3, h4, h5, h6, p {
    text-align: left; /*sets all text to the left of the screen*/
    margin: 0%; /*resets margins*/
    padding-left: 2rem; /*stops text from touching the left screen side*/
    padding-right: 2rem; /*stops text from touching the right screen side*/
}


/*card styling*/
.cardContainer {
    display: flex; /*flex allows menu alignment to be controlled*/
    flex-wrap: wrap; /*pushes menu to new line on smaller screens*/
    align-items: center; /*puts menu items in the center of the bar*/
    justify-content: center; 
    text-align: center;
    padding: 1rem; /*adds space round the cards*/
    gap: 1rem; /*adds space between menu items*/
}

.card {
    background-color: #ffffff; /*sets the backround colour*/
    border: 0.0625rem solid #595959; /*border colour*/
    border-radius: 0.75rem; /*rounds the cards on the images*/
    padding: 1.25rem; /*Adds spacing around the card contents*/
    transition: transform 0.2s, box-shadow 0.2s;
    box-sizing: border-box;
    width: 20rem;
}

.card img {
    width: 50%; /*sets the image size to match the screen size*/
    height: 50%;
    border-radius: 1rem; /*rounds the corners on the images*/
    border: 0.0625rem solid #595959; /*border colour*/
}


/*image styling*/
.image {
    width: 50%; /*sets the image size to match the screen size*/
    height: auto;
    display: flex; /*flex allows menu alignment to be controlled*/
    flex-wrap: wrap; /*pushes menu to new line on smaller screens*/
    align-items: center; /*puts menu items in the center of the bar*/
    justify-content: center; 
    border-radius: 1rem; /*rounds the corners on the images*/
    border: 0.0625rem solid #595959; /*border colour*/
}


/*basic container styling*/
header, .containerGreen, .containerPink, .container, footer {
    border-bottom: 0.0625rem solid #595959; /*underlines the section*/
    font-size: 1.5vw; /*allows heading size to adapt depending on the screen size*/
    margin: 0%;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

header {
    background-color: #f0cbc3; /*sets the backround colour*/
}

.containerGreen {
    background-color: #f3f6eb; /*sets the backround colour*/
}

.containerPink {
    background-color: #fff0f0;  /*sets the backround colour*/
}

.container {
    background-color: #f0cbc3;
}


/*header styling*/
.header-img {
    width: 100%; /*sets the image size to match the screen size*/
    height: auto;
    padding-bottom: 1rem;
}


/*button styling*/
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

button {
    padding: 0.7rem 1.5rem; 
    background-color: #3c4f12; 
    font-family: Georgia, serif; /*sets the website font*/
    color: #ffffff;
    border: 0.0625rem solid #3c4f12;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
    border: 0.0625rem solid #3c4f12;
    color: #3c4f12;
    transition: background-color 0.3s;
}


/*form styling*/
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align elements to left */
    margin: 1.25rem auto;
    width: 80%;
}

input, textarea {
    font-family: Georgia, serif; /*sets the  font*/
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #3c4f12;
    background-color: #ffffff;
    color: #595959;
}

::placeholder {
    text-align: left;
}

.location {
    margin: 3rem;
    border-bottom: 0.00025rem solid #595959; /*underlines the section*/

    padding-top: 1rem;
}

.location iframe {
    width: 50%; /*sets the image size to match the screen size*/
    height: auto;
    padding-left: 1rem;
    padding-bottom: 2rem;

}


/*media tag styling (styling for small screens)*/
@media (max-width: 600px) {
    .nav {
        flex-direction: column; /*makes menu items stack vertically on small screens*/
         align-items: center; /*puts menu items in the center of the bar*/
    }

    .cardContainer {
        flex-direction: column; /*makes menu items stack vertically on small screens*/
         align-items: center; /*puts menu items in the center of the bar*/
    }

    .card {
        min-width: auto;
        max-width: 95%;
    }

    h1, h2, h3, h4, h5, h6, p {
    padding-left: 1rem; /*adds spacing between text and the edge of the screen*/
}
}